.title {
  margin-left: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px 15px;
  padding: 5px;
  border: 2px solid var(--color-black);
  border-radius: 5px;
  text-decoration: none;
}

.flag {
  flex-shrink: 0;
  width: 180px;
  height: 110px;
  padding: 10px;
  object-fit: contain;
}

.countryTitle {
  color: var(--color-black);
}

@media (max-width: 900px) {
  .title {
    margin-left: unset;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 26px;
  }

  .link {
    flex-direction: column;
  }

  .flag {
    width: 200px;
    height: 120px;
  }

  .countryTitle {
    flex-shrink: 1;
  }
}