.link {
  display: flex;
  align-items: center;
  gap: 10px 15px;
  padding: 5px;
  border: 2px solid var(--color-black);
  border-radius: 5px;
  text-decoration: none;
}

.flag {
  flex-shrink: 0;
  width: 180px;
  height: 110px;
  padding: 10px;
  object-fit: contain;
}

.title {
  color: var(--color-black);
}

@media (max-width: 500px) {
  .link {
    flex-direction: column;
  }

  .flag {
    width: 200px;
    height: 120px;
  }

  .title {
    flex-shrink: 1;
  }
}